<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>คะแนนแบบทดสอบก่อน/หลังเรียน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-profile></app-profile>
  <ion-card  color='warning' style="background: #afafaf;">
    <ion-card-header>
        <h2 class="text-center">ก่อนเรียน {{start_score}}/{{number}}</h2>
    </ion-card-header> 
  </ion-card>
  <ion-card  style="background:#afafaf;color:#fff;" color='primary'>
    <ion-card-header>
        <h2 class="text-center">หลังเรียน {{end_score}}/{{number}}</h2>
    </ion-card-header> 
  </ion-card>
 
</ion-content>
