<ion-content style="">
  <div style="background: #00BCD4;
  padding: 25px;
  /* margin: 11px; */
  margin-top: 0px;">
  <ion-text style="color:#ffffff;">
    <h1 class="text-center">แอปพลิเคชั่นสื่อการเรียนรู้</h1>
  </ion-text>

  <ion-text style="color:#ffffff;">
    <h2 class="text-center">หมวดเทคโนโลยี</h2>
  </ion-text>
  <ion-text style="color:#ffffff;">
    <h2 class="text-center">"เทคโนโลยีการสื่อสาร"</h2>
  </ion-text>
</div>
  <ion-row class="bg-image" style="background:url(../assets/images/start.png);">
    <ion-button (click)="goToLesson()" color="light" size="large" fill='outline' style="margin-left: 55px;margin-top: 108px;">เข้าชั้นเรียน</ion-button>
  </ion-row>
</ion-content> 