ion-toolbar, ion-header, ion-content{
    --background: #f7e9c0;
}
ion-menu, ion-item,ion-list{
    --background: #f7e9c0;
    color: #8c6020;
}
ion-icon{
    color: #8c6020;
    font-weight: bold;
} 
ion-label{
    font-size: 9pt !important;
} 