<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>แบบทดสอบก่อน-หลังเรียน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>

          <ion-col>
            <ion-card>
              <ion-card-header>
                  <h1 class="text-center"><ion-icon name="paper"></ion-icon></h1>
                <ion-card-subtitle class="text-center">แบบทดสอบก่อนเรียน</ion-card-subtitle> 
              </ion-card-header> 
            </ion-card>
          </ion-col>
          <ion-col>
              <ion-card>
                  <ion-card-header>
                      <h1 class="text-center"><ion-icon name="paper"></ion-icon></h1>
                    <ion-card-subtitle>แบบทดสอบหลังเรียน</ion-card-subtitle> 
                  </ion-card-header> 
                </ion-card>
          </ion-col>
           
        </ion-row>
      </ion-grid>
</ion-content>
