<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>แบบทดสอบก่อน-หลังเรียน และแบบฝึกหัด</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div style="text-align: center;">
    <img src="../../assets/images/btn_start_test.jpg" (click)="testStart(1)" style="width:100%">
    <img src="../../assets/images/btn_end_test.jpg" (click)="testStart(2)" style="width:100%">
    <img src="../../assets/images/111.jpg" (click)="testAnswer()" style="width:100%">
    <img style="width: 96%;height: 90px; margin-left: -27px;" src="../../assets/images/222.jpg" (click)="Practices()">
    <img src="../../assets/images/11.jpg" (click)="AnPractices()" style="width:100%">
    <img src="../../assets/images/22.jpg" (click)="score()" style="width: 90%;height: 90px;margin-left: -27px;">    
  
   </div>     
</ion-content>


