<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>แบบทดสอบก่อน-หลังเรียน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-card (click)="testStart(1)" color='secondary' [disabled]="!enableStartTest">
        <ion-card-header>
            <h2 class="text-center"><ion-icon name="paper"></ion-icon> แบบทดสอบก่อนเรียน</h2>
        </ion-card-header> 
      </ion-card>

        <ion-card (click)="testStart(2)" style="background:#9C27B0;color:#fff;" color='primary' [disabled]="!enableEndTest">
          <ion-card-header>
              <h2 class="text-center"><ion-icon name="paper"></ion-icon> แบบทดสอบหลังเรียน</h2>
          </ion-card-header> 
        </ion-card>

        <ion-card (click)="score()" color='warning'>
          <ion-card-header>
              <h2 class="text-center"> คะแนนแบบทดสอบก่อน/หลังเรียน</h2>
          </ion-card-header> 
        </ion-card>
       
</ion-content>
